## Observations and Insights

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "Resources/Mouse_metadata.csv"
study_results = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
merged_df = mouse_metadata.merge(study_results, how="outer", on="Mouse ID")

# Display the data table for preview
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [12]:
# Checking the number of mice.
# unique_mice = merged_df['Mouse ID'].nunique()
total_mice = merged_df['Mouse ID'].count()
mice_numbers_df = pd.DataFrame({"Total Mice" :[total_mice]})
mice_numbers_df

   Total Mice
0        1893

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [11]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data_df = merged_df.drop_duplicates(subset=["Mouse ID", "Timepoint"])
clean_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [13]:
# Checking the number of mice in the clean DataFrame.
clean_mice = clean_data_df['Mouse ID'].count()
mice_numbers_df = pd.DataFrame({"Total Mice" :[clean_mice]})
mice_numbers_df

   Total Mice
0        1888

## Summary Statistics

In [34]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
regimen_data = clean_data_df.groupby('Drug Regimen')
drug_labels = ['Capomulin', 'Ceftamin', 'Infubinol','Ketapril', 'Naftisol', 'Placebo', 'Propriva','Ramicane', 'Stelasyn', 'Zoniferol']

# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mean = regimen_data["Tumor Volume (mm3)"].mean()
median = regimen_data["Tumor Volume (mm3)"].median()
variance = regimen_data["Tumor Volume (mm3)"].var()
deviation = regimen_data["Tumor Volume (mm3)"].std()
SEM = regimen_data["Tumor Volume (mm3)"].sem()

# print(mean)
# print(median)
# print(variance)
# print(deviation)
# print(SEM)


# Assemble the resulting series into a single summary dataframe.
summary_stats_df = pd.DataFrame({"Mean" : mean,
                               "Median" : median,
                               "Variance" : variance,
                               "Standard Deviation": deviation,
                               "SEM" : SEM})

summary_stats_df.style.format({"Mean": "{:,.2f}",
                              "Median": "{:,.2f}",
                              "Variance" : "{:,.2f}",
                              "Standard Deviation" : "{:,.2f}",
                               "SEM": "{:,.3f}"})

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
# Add chart labels

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.
# Add chart labels

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas
# Add chart labels

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
# Add chart labels

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen